@model PeakSearchConditionFormModel

<h2>Find peak</h2>
<hr />

<form asp-action="Found" asp-controller="Peak" method="get">
    <div class="form-group">
        <label asp-for=@Model.Condition>Search by a keyword:</label>
        <input asp-for="@Model.Condition" class="form-control" placeholder="Search..." value="@Model.Condition" />
        <span asp-validation-for="@Model.Condition" class="small text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Search</button>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}