@{
    ViewBag.Title = "Error";
}

   <h1 class="text-danger">Oops! An error occurred.</h1>
   <div class="text-danger text-left h3">  Go to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
